 <div class="fondo">
   <img src="https://assets.nflxext.com/ffe/siteui/vlv3/51c1d7f7-3179-4a55-93d9-704722898999/7141564b-9e02-4ca6-adc8-46c267d174b0/MX-es-20240610-popsignuptwoweeks-perspective_alpha_website_small.jpg" alt="">
 </div>

 <header  class="d-flex flex-column justify-content-between h-100 pt-2 pb-5">
     <nav>
        <section class="Letras">
        </section>

        <section>
         <button type="button" class="btn btn-primary dropdown-toggle" id="traducirpag" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../../../assets/traducir.ico" alt="Traducir" class="traducir">Español
          </button>
           <button type="button" class="btn btn-danger">Iniciar sesión</button>
        </section>
     </nav>
     <div class="registro">
         <div class="comenzar">
            <section class="Parrafodeinicio">
               <h1>Películas y series ilimitadas y mucho más</h1>
               <p></p>
               <h3>Disfruta donde quieras. Cancela cuando quieras.</h3>
               <p></p>
               <h4>¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Netflix.</h4>
            </section>
            <section class="Botonescentrales">
                  <p></p>
            
               <div class="Divbotones">
                   <div class="form-floating">
                      <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
                      <label class="label-input" for="floatingInputGrid">Email</label>
                   </div>
                   <div class="btn-group dropend" role="group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                         Comenzar
                      </button>
                   </div>
               </div>
            </section>
         </div>
      </div>
</header>

<div class="palomitas">

   <div class="divpalomitas">
      <img src="../../../../../assets/palomitas.png" alt="palomitas" class="imgpalomitas">
   </div>

   <div class="divpalomitasdescripcion">
       <p style="font-weight: bold;">
        Todo lo que te encanta de Netflix por tan solo $99.
       </p>

       <p>
        Elige el plan Estándar con anuncios.
       </p>

       <link rel="stylesheet" href="">
       <p><a href="#" class="link-underline-primary">Más info</a></p>
   </div>
   
   
</div>

<main>
   
   <div class="presentacion">

     <section class="letraspresentacion">
        <h1>
         Disfruta en tu TV
        </h1>
        <h2>
         Ve en smart TV, PlayStation, Xbox, Chromecast, Apple TV, reproductores de Blu-ray y más.
        </h2>
     </section>

     <section class="television">
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" alt="" class="imgtelevision">
      <img src="../../../../../assets/netflixhillhouse.gif" alt="" class="gif">
     </section>

   </div>

   <hr>

   <div class="presentacion">

    <section>
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png" alt="television">
    </section>

    <section class="letraspresentacion">
      <h1>
      Disfruta donde quieras
      </h1>
      <h2>
      Películas y series ilimitadas en tu teléfono, tablet, laptop y TV.
      </h2>
     </section>

    

   </div>

   <hr>

   <div class="presentacion">

    <section class="letraspresentacion">
      <h1>
      Crea perfiles para niños
      </h1>
      <h2>
      Los niños vivirán aventuras con sus personajes favoritos en un espacio diseñado exclusivamente para ellos, sin costo con tu membresía
      </h2>
     </section>

     <section>
      <img src="" alt="">
     </section>

   </div>

   <hr>

   <div class="presentacion">
    <section class="letraspresentacion">
      <h1>
      Descarga tus series para verlas offline
      </h1>
      <h2>
      Ve Netflix en un avión, un tren o un submarino...
      </h2>
    </section>

    <section>
      <img src="" alt="">
    </section>

   </div>

   <hr>

</main>


  
 
